img{
    max-width: 400px;
    max-height: 300px;
    height: 300px;
    width: 400px;
    border-radius: 50px;
}
.menu_display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
article{
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.item_box{
    display:flex;
    flex-direction: column;
    border-radius: 30px/20px;
    background-color: lime;
}
.item_tag{
    display:flex;
    justify-content: space-between;
}
button{
    cursor: pointer;
    background-color: rgb(0, 0, 97);
    color:orange;
    border: none;
    border-radius: 5px 20px 5px;
    font-size: 1.85em;
    font-weight:bold;
}
body{
    background-image: url(./components/Pic/background-dark-delicate-325703.jpg);
    background-size: 100%
}